<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NeoGénesys</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/fonts/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="">
            <button class="btn btn-primary float-end m-4">Cerrar Sesion <i class="bi bi-box-arrow-right"></i></button>
            <div class="row">
                <div id="body" class="col-md-4">
                    <img src="" alt="LOGO">
                    <ul class="nav flex-column">
                        <li class="nav-item menu-back">
                          <a class="nav-link" id="servers" href="#"><h3><i class="bi bi-hdd-stack-fill"></i> Servidores</h3></a>
                        </li>
                        <li class="nav-item menu-back mt-4">
                          <a class="nav-link" id="options" href="#"><h3><i class="bi bi-arrows-expand-vertical"></i> Opciones</h3></a>
                        </li>
                        <li class="nav-item menu-back mt-4">
                          <a class="nav-link" id="code" href="#"><h3><i class="bi bi-code-slash"></i> Código</h3></a>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 1</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 2</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 3</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 4</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 5</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                        <div class="card m-4 card-background" style="width: 18rem;">
                            <div class="card-body">
                              <h2 class="display-1"><i class="bi bi-hdd-stack"></i></h2>
                              <p class="card-text">Grupo 6</p>
                              <a href="#" class="button-style">Ver Servidores</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        
    </script>
</html>