<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NeoGénesys</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/fonts/font/bootstrap-icons.css">
    </head>
    <body id="body">
        <div class="container text-center principal">
            <img src="" alt="LOGO">
            <h2 class="texto">Registro</h2>
            <form action="POST">
                <div class="col-md-4  offset-md-4 mt-4">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Correo" required>
                    </div>
                </div>
                <div class="col-md-4  offset-md-4 mt-4">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-lock"></i></span>
                        <input type="password" placeholder="Contraseña" class="form-control">
                    </div>
                </div>
                <div class="col-md-4  offset-md-4 mt-4">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-lock"></i></span>
                        <input type="password" placeholder="Confirmar Contraseña" class="form-control">
                    </div>
                </div>
                <div class="d-grid gap-2  mt-4 col-md-4 offset-md-4">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </body>
</html>